<!doctype html>
<html lang="en">
<%- include('partials/html-head'); -%>

  <body>
    <div id="app" class="wrap">
      <%- include('partials/header'); -%>
        <h1 class="page-title">about</h1>

        <section>
          <p>
            Welcome to <strong>Pinggy</strong>, your personal space to simplify how you discover and save content on the
            web.
          </p>
        </section>
        <section>
          <h2>What is Pinggy?</h2>
          <p>
            We built Pinggy with a focus on <strong>minimalism</strong> and <strong>ease of use</strong>, providing a
            clutter-free way to follow updates from your favorite websites and blogs. With Pinggy, you can effortlessly:
          </p>
          <ul>
            <li>Track content with a <strong>single chronological feed</strong>.</li>
            <li>Save your favorite articles and posts as bookmarks.</li>
            <li>Add RSS feeds directly or let Pinggy find them for you.</li>
          </ul>
        </section>

        <section>
          <h2>Why Pinggy?</h2>
          <p>
            In today’s world, staying updated feels like a chore with endless notifications and complex apps. Pinggy
            exists to make it simpler, with just what you need and nothing more.
          </p>
          <ul>
            <li>
              <strong>Free and Unlimited:</strong> Use Pinggy without limits, supported by generous sponsors via
              <a href="https://www.buymeacoffee.com/vasanthv" target="_blank">Buy Me a Coffee</a>.
            </li>
            <li>
              <strong>Privacy First:</strong> We don’t track you across the web. Analytics are powered by
              privacy-respecting tools like Cabin.
            </li>
            <li>
              <strong>Accessible Everywhere:</strong> Pinggy is a Progressive Web App (PWA), so you can use it on any
              device without downloads or updates.
            </li>
          </ul>
        </section>

        <section>
          <h2>Built by Passion, Driven by Purpose</h2>
          <p>
            At Pinggy, we’re passionate about creating tools that solve real problems. We’re also avid users of the
            product, so we know what matters most: a clean interface, intuitive user experience, and content that speaks
            for itself.
          </p>
          <p>Start simplifying your online experience today. 🌱</p>
        </section>
        <section id="screenshots">
          <a href="/imgs/pinggy-home.png" target="_blank"><img src="/imgs/pinggy-home.png" /></a>
          <a href="/imgs/pinggy-channels.png" target="_blank"><img src="/imgs/pinggy-channels.png" /></a>
          <a href="/imgs/pinggy-channel.png" target="_blank"><img src="/imgs/pinggy-channel.png" /></a>
          <a href="/imgs/pinggy-article.png" target="_blank"><img src="/imgs/pinggy-article.png" /></a>
          <a href="/imgs/pinggy-darkmode.png" target="_blank"><img src="/imgs/pinggy-darkmode.png" /></a>
        </section>

        <footer>
          <p>
            <em>Have feedback or suggestions? We’d love to hear from you! Share your thoughts via our
              <a href="https://pinggy.canny.io/feature-requests" target="_blank">Canny page</a>.</em>
          </p>
        </footer>
    </div>
    <%- include('partials/footer'); -%>
  </body>

</html>