<!doctype html>
<html lang="en">
<%- include('partials/html-head'); -%>

  <body>
    <div id="app" class="wrap">
      <%- include('partials/header'); -%>
        <h1 class="page-title">faq</h1>

        <section>
          <h2>What is Pinggy?</h2>
          <p>
            Pinggy is a simple and intuitive RSS feed aggregator. It provides a single chronological feed for all your
            subscriptions and lets you bookmark articles to revisit later.
          </p>

          <h2>Why do we need Pinggy?</h2>
          <p>
            Many RSS readers are packed with complex features that can feel overwhelming. Pinggy takes a minimalist
            approach, focusing on ease of use with just a single feed and bookmarking. It’s perfect for those who prefer
            simplicity.
          </p>

          <h2>Does Pinggy have a mobile app?</h2>
          <p>
            No, Pinggy does not have a dedicated mobile app. However, it is a PWA (Progressive Web App), meaning you can
            add it to your home screen from your browser and use it like an app with offline support and other
            native-like
            features.
          </p>

          <h2>How long does it store the RSS items?</h2>
          <p>
            Pinggy stores RSS items for up to 10 days after they are removed from the source RSS feed. This ensures you
            have ample time to read or bookmark items without overwhelming storage.
          </p>

          <h2>How much does Pinggy cost?</h2>
          <p>
            Pinggy is completely free for unlimited use! However, if you enjoy using it and want to support its
            development, you can sponsor us through
            <a href="https://buymeacoffee.com/vasanthv" target="_blank">Buy Me a Coffee</a>.
          </p>

          <h2>How do I add my favorite RSS feeds to Pinggy?</h2>
          <p>
            You can paste either the RSS feed URL or a website URL into Pinggy. If the website supports RSS feeds,
            Pinggy
            will automatically detect the feed URL and create a channel for you.
          </p>

          <h2>Can I save articles I like?</h2>
          <p>
            Absolutely! Use the bookmark feature to save articles, and you can revisit them anytime in the “Bookmarks”
            section.
          </p>

          <h2>How do I report issues or suggest new features?</h2>
          <p>
            We’d love to hear from you! Send an email to <a href="mailto:support@pinggy.com">support@pinggy.com</a> or
            share your feedback in our
            <a href="https://pinggy.canny.io/feature-requests" target="_blank">public feature requests board</a>.
          </p>

          <h2>Who made Pinggy?</h2>
          <p>Pinggy is made by <a href="https://vasanthv.me" target="_blank">Vasanth.V</a>.</p>
        </section>
    </div>
    <%- include('partials/footer'); -%>
  </body>

</html>