<!doctype html>
<html lang="en">
<%- include('partials/html-head'); -%>

  <body>
    <div>
      <section id="intro">
        <div class="wrap mini">
          <div>
            <div id="logo">
              <img src="favicon.svg" alt="pinggy logo" />
            </div>
            <h1>Read all your favorite news, social media & blogs in a single feed.</h1>
            <p>
              Pinggy is a free, minimal rss/atom feed reader, that shows a single chronological feed from all your
              favorite news, social media & blogs.
            </p>

            <div>
              <a href="/signup">
                <button>Create an account</button>
              </a>
            </div>
            <div>Already have an account? <a href="/login">Log in</a></div>
          </div>
        </div>
      </section>
    </div>
    <%- include('partials/footer'); -%>
  </body>

</html>