<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-control" content="public" />
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" />
  <meta name="description" content="Read all your news, social media & blogs in a single feed." />
  <meta name="keywords" content="news reader, rss reader, atom reader" />
  <!-- Icons & Theme-->
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

  <title>Sponsor - Pinggy</title>
  <!-- Site scripts & styles -->
  <link href="/style.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <div id="app-containter" class="wrap" style="visibility: visible">
      <main>
        <header class="row">
          <div class="flex space-between">
            <h1 class="page-title flex-1">Sponsor</h1>
            <a href="/" id="logo">
              <img src="favicon.svg" alt="logo" />
            </a>
          </div>
        </header>

        <p>There are multiple ways to become a sponsor for Pinggy.</p>

        <ul>
          <li>
            <a href="https://github.com/sponsors/vasanthv" target="_blank">https://github.com/sponsors/vasanthv</a>
          </li>
          <li>
            <a href="https://buymeacoffee.com/vasanthv/membership" target="_blank">
              https://buymeacoffee.com/vasanthv/membership
            </a>
          </li>
          <li><a href="https://paypal.me/imvasanthv" target="_blank">https://paypal.me/imvasanthv</a></li>
        </ul>

        <p>
          Feel free to choose your best option, once you have become a sponsor, please drop an email to
          "<strong>sponsors@pinggy.com</strong>" with your user account email to get your unlimited channels perk.
        </p>
      </main>
    </div>
  </div>

  <footer class="small light wrap">
    <nav>
      <a href="/terms">Terms</a>
      <span class="separator">&middot;</span>
      <a href="/privacy">Privacy</a>
    </nav>
  </footer>
  <!-- INSERT_ANALYTICS_SCRIPT -->
</body>

</html>